aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiomysql==0.2.0
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.1.0
beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
cryptography==44.0.1
et_xmlfile==2.0.0
Flask==3.1.0
flatbuffers==24.3.25
frozenlist==1.5.0
fusion_solar_py==0.0.26
humanfriendly==10.0
idna==3.10
influxdb==5.3.2
influxdb-client==1.36.0
itsdangerous==2.2.0
Jinja2==3.1.6
libclang==18.1.1
MarkupSafe==3.0.2
minimalmodbus==2.1.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mysql==0.0.3
mysql-connector-python==9.2.0
mysql_helper==1.0.0
mysqlclient==2.2.7
namex==0.0.8
numpy==1.26.4
onnxruntime==1.20.1
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
propcache==0.2.1
protobuf==5.29.3
pycparser==2.22
pymodbus==3.8.6
PyMySQL==1.1.1
pyreadline3==3.5.4
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==309
reactivex==4.0.4
requests==2.32.3
setuptools==75.8.1
six==1.17.0
soupsieve==2.6
sympy==1.13.3
throttler==1.2.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.0
wrapt==1.16.0
yarl==1.18.3
